# Local Config & Format
.flake8
.vscode/
.env
pyrightconfig.json

# Local Anaconda Environments
lambda_env/

# Cache & Checkpoints
.ipynb_checkpoints/
__pycache__/

# Local Data & Files
*.fits
micropython_firmware/

# SolidWorks Temp Files
~$*.SLDPRT
~$*.SLDASM
~$*.sldprt